In [1]:
import numpy as np

In [1]:
count1_correct1 = 363006; count1_all1 = 371799
count2_correct1 = 362636; count1_all1 = 370807
count_correct1 = 362657; count1_all1 = 369951
count1_correct1 = 362996; count1_all1 = 378085

In [2]:
count1_correct2 = 491947; count1_all2 = 503888
count1_correct2 = 491521; count1_all2 = 502701
count1_correct2 = 491530; count1_all2 = 501197
count1_correct2 = 491924; count1_all2 = 512175

In [3]:
count1_correct3 = 488111; count1_all3 = 500124
count1_correct3 = 487680; count1_all3 = 498792
count1_correct3 = 487662; count1_all3 = 497487
count1_correct3 = 488092; count1_all3 = 508625

In [4]:
count1_correct4 = 382297; count1_all4 = 391882
count1_correct4 = 381979; count1_all4 = 390817
count1_correct4 = 381967; count1_all4 = 389694
count1_correct4 = 382277; count1_all4 = 398523

In [7]:
def f(count, all_count):
    eff = sum(count)/sum(all_count)
    print(f"{eff*100} +- 0.1 % ({sum(count)} из {sum(all_count)})")

In [8]:
count = [count1_correct1, count1_correct2, count1_correct3, count1_correct4]
all_count = [count1_all1, count1_all2, count1_all3, count1_all4]
f(count, all_count)

95.98761104879915 +- 0.1 % (1725289 из 1797408)